/* Common styles*/
body {
    margin: 0px;
}

/* Common nav styles*/
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /*Flexbox container*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.left-column {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 15px;
}

.icon i {
    /* double the normal size */
    font-size: 2em;
}

.left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.adress-wrapper {
}

.nav-link {
}