/* Common styles*/
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Common nav styles*/
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /*Flexbox container*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .left-column > .icon {
    margin-right: 15px;
}

.navigation-wrapper > .left-column > .icon i {
    /* double the normal size */
    font-size: 2em;
}

.navigation-wrapper > .left-column > .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.navigation-wrapper > .left-column > .contact-wrapper > .hours {
    font-family: "Ubuntu Condensed", sans-serif;
}

.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .center-column > .banner-image img {
    width: 216px;
    height: 100%;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.links-wrapper > .nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #cbcbcb;
}

.navigation-wrapper > .right-column > .adress-wrapper {
    font-family: "Ubuntu Condensed", sans-serif;
}

